
body {
    background-color: antiquewhite;
    width: 100%;
}

section {
    background-color: rgb(255, 255, 255);
    margin-bottom: 0.4rem;
    border: antiquewhite solid 0.1rem;
}


nav {
    border-bottom: 0.1rem solid;
    background-color: bisque;
}
body > nav > div > ul {
    background-color: beige;
    border-top: 0.1rem solid;
    margin-top: 1rem;
}
li > a {
    border-bottom: 0.1rem solid;
}
.container{
    width: 90%;  
}